.navbar-container {
    background-color: black;
    display: flex;
    justify-content: center;
}

.navbar-main {
    width: 1000px;
}
.navbar-text {
    color: white;
}

.logo {
    padding: 5px;
    font-size: 22px;
    float: left;
}

.nav-menu {
    float: right;
    padding: 5px;
}

.nav-menu li {
    float: left;
    font-size: 18px;
    padding: 0px 10px;
}
.navbar-container a {
    color: white;
}