* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* background: rgb(241, 240, 240); */
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}